.login {
  height: 100vh;
  background: linear-gradient(to bottom, #17a2b8 50%, #f5f5f5 50%) no-repeat fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-login {
  background-color: #fff;
  max-width: 330px;
  padding: 40px;
  margin: auto;
}