@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'sweetalert2/dist/sweetalert2.min.css';

@import 'bootstrap/scss/functions';
@import './variables';
@import 'bootstrap/scss/bootstrap';
@import 'base';
@import 'tables';
@import 'hover';
@import 'login';